.notification-enter {
    opacity: 0.2;
    transform: scale(0.3);
  }
  .notification-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 300ms ease-in;
  }
  .notification-exit {
    opacity: 1;
  }
  .notification-exit-active {
    opacity: 0.2;
    transform: scale(0.3);
    transition: 300ms ease-in;
  }